extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= "ページタイトル";
  - var pageDescription= "ページの説明";
  - var pageKeywords= "child, page";
  - var pageUrl= relativePath;
  //- Optional
  - var pageOgpTitle= pageTitle;
  - var pageOgpImage= site.ogpImage;
  - var pageLang= "ja";
  - var pageOgpType= "article";

block content
