 /* #Block
   -------------------------------------------------------------------------- */
/*
---
name: block
category: component
---

画像とテキストをblock（縦）に配置します。
Modifierは以下のとおりです。

- 画像を100%表示 `.c-block__image--full`
- 画像を左右中央に配置 `c-block__image--left`, `c-block__image--center`, `c-block__image--right`

```jade
div.c-block
  div.c-block__image
    img(src="http://lorempixel.com/300/200/" alt="")
  div.c-block__body
    p この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。This sentence is a dummy. Size of the character, amount, character spacing, has been put in order to check the line spacing and the like.

div.c-block
  div.c-block__body
    p この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。This sentence is a dummy. Size of the character, amount, character spacing, has been put in order to check the line spacing and the like.
  div.c-block__image
    img(src="http://lorempixel.com/300/200/" alt="")
```
*/
.c-block {
  display: block;
}

.c-block__image {
  display: block;
}

.c-block__image--full {
  > img {
    display: block;
    width: 100%;
    max-width: none;
  }
}

@include _responsive('.c-block__image--left') {
  text-align: left;
}

@include _responsive('.c-block__image--center') {
  text-align: center;
}

@include _responsive('.c-block__image--right') {
  text-align: right;
}

.c-block__body {
  display: block;
  > :last-child {
    margin-bottom: 0;
  }
}

.c-block__image + .c-block__body,
.c-block__body + .c-block__image {
  margin-top: 0.25em;
}
