 /* #Layout
   -------------------------------------------------------------------------- */
/*
---
name: layout
category: component
---

汎用的なレイアウトオブジェクトです。`width`の変更はUtilityレイヤーで指定します。

Modifierは以下のとおりです。

* ガターの追加 `--small`, `--medium`, `--large`
* text-alignの変更 `--middle`, `--bottom`
* 配置を反転 `--reverse`
* `.c-layout__item`のカラム幅をまとめて指定 `--colx`, `--colxandx`

```jade
div.c-wrapper
  div.c-layout.c-layout--medium
    div.c-layout__item.u-8of12-md
      c-layout__item u-8of12-md
    div.c-layout__item.u-4of12-md
      c-layout__item u-4of12-md

  div.c-layout.c-layout--medium.c-layout--reverse
    div.c-layout__item.u-8of12-md
      c-layout__item u-8of12-md
    div.c-layout__item.u-4of12-md
      c-layout__item u-4of12-md

  div.c-layout.c-layout--medium.c-layout--center
    div.c-layout__item.u-8of12-md
      c-layout__item u-8of12-md

  div.c-layout.c-layout--medium.c-layout--col2-sm
    div.c-layout__item.u-8of12-md
      c-layout__item c-layout--col2-sm
    div.c-layout__item.u-4of12-md
      c-layout__item c-layout--col2-sm

  div.c-layout.c-layout--medium.c-layout--col4and8
    div.c-layout__item.u-8of12-md
      c-layout__item c-layout--col4and8
    div.c-layout__item.u-4of12-md
      c-layout__item c-layout--col4and8
```
*/
$_layout-gutter: $_white-space !default;
$_layout-gutter-small: ($_layout-gutter / 2) !default;
$_layout-gutter-large: ($_layout-gutter * 2) !default;

.c-layout {
  @include _c-layout();
}

.c-layout__item {
  @include _c-layout__item();
}

/**
 * ガターを3つのパリエーションから選択します。
 */
.c-layout--small {
  margin-left: -$_layout-gutter-small;
  > .c-layout__item {
    padding-left: $_layout-gutter-small;
  }
}

.c-layout--medium {
  margin-left: -$_layout-gutter;
  > .c-layout__item {
    padding-left: $_layout-gutter;
  }
}

.c-layout--large {
  margin-left: -$_layout-gutter-large;
  > .c-layout__item {
    padding-left: $_layout-gutter-large;
  }
}

/**
 * 垂直位置を2つのパリエーションから選択します（デフォルトは`top`）。
 */
@include _responsive('.c-layout--middle') {
  > .c-layout__item {
    vertical-align: middle;
  }
}

@include _responsive('.c-layout--bottom') {
  > .c-layout__item {
    vertical-align: bottom;
  }
}

/**
 * 要素を中央配置にします（デフォルトは`left`）。
 */
@include _responsive('.c-layout--center') {
  text-align: center;
  > .c-layout__item {
    text-align: left;
  }
}

/**
 * 要素を右端寄せにします（デフォルトは`left`）。
 */
@include _responsive('.c-layout--right') {
  text-align: right;
  > .c-layout__item {
    text-align: left;
  }
}

/**
 * `.c-layout__item`のカラム数をまとめて指定します。
 */
@include _responsive('.c-layout--col2') {
  > .c-layout__item {
    width: percentage(1 / 2);
  }
}

@include _responsive('.c-layout--col3') {
  > .c-layout__item {
    width: percentage(1 / 3);
  }
}

@include _responsive('.c-layout--col4') {
  > .c-layout__item {
    width: percentage(1 / 4);
  }
}

@include _responsive('.c-layout--col2and10') {
  > .c-layout__item:nth-child(odd) {
    width: percentage(2 / 12);
  }
  > .c-layout__item:nth-child(even) {
    width: percentage(10 / 12);
  }
}

@include _responsive('.c-layout--col3and9') {
  > .c-layout__item:nth-child(odd) {
    width: percentage(3 / 12);
  }
  > .c-layout__item:nth-child(even) {
    width: percentage(9 / 12);
  }
}

@include _responsive('.c-layout--col4and8') {
  > .c-layout__item:nth-child(odd) {
    width: percentage(4 / 12);
  }
  > .c-layout__item:nth-child(even) {
    width: percentage(8 / 12);
  }
}

@include _responsive('.c-layout--col5and7') {
  > .c-layout__item:nth-child(odd) {
    width: percentage(5 / 12);
  }
  > .c-layout__item:nth-child(even) {
    width: percentage(7 / 12);
  }
}

/**
 * 要素を右から配置させます（HTMLの記述を反転させた状態でレイアウトされます）。
 */
@include _responsive('.c-layout--reverse') {
  text-align: left;
  direction: rtl;
  > .c-layout__item {
    text-align: left;
    direction: ltr;
  }
}
