 /* #List-addstyle
   -------------------------------------------------------------------------- */
/*
---
name: list-addstyle
category: component
---

行頭に中黒（・）などの記号を入力するリストタイプです。
デフォルトのリストスタイルはリセットしています。（BEMの）BlockのみでElementはありません。

```jade
ul.c-list-addstyle
  li ・この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。This sentence is a dummy. Size of the character, amount, character spacing, has been put in order to check the line spacing and the like.
    ul.c-list-addstyle
      li ・この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。This sentence is a dummy. Size of the character, amount, character spacing, has been put in order to check the line spacing and the like.
      li ・リスト1.2
        ul
          li リスト1.1.1
  li ・リスト2
```
*/
.c-list-addstyle {
  @include _list-unstyled();
  margin-left: 1em;
  text-indent: -1em;
  list-style-position: inside;
}
