 /* #List-addstyle
   -------------------------------------------------------------------------- */
/*
---
name: list-addstyle
category: component
---

行頭に中黒（・）などの記号を入力するリストタイプです。
デフォルトのリストスタイルはリセットしています。（BEMの）BlockのみでElementはありません。

```jade
ul.c-list-addstyle
  li ・リスト
    ul.c-list-addstyle
      li ・リスト1.1
      li ・リスト1.2
        ul
          li リスト1.1.1
  li ・リスト2
```
*/
.c-list-addstyle {
  @include _c-list-unstyled();
  margin-left: 1em;
  text-indent: -1em;
  list-style-position: inside;
}
