 /* #List-unstyled
   -------------------------------------------------------------------------- */
/*
---
name: list-unstyled
category: component
---

`<ul>`と`<ol>`のデフォルトスタイルをリセットします。

```jade
div.c-layout__item.u-8of12-md
  ul.c-list-unstyled
    li リスト1
      ul.c-list-unstyled__items
        li リスト1.1
          ul.c-list-unstyled__items
            li リスト1.1
```
*/
/* ul, ol */
.c-list-unstyled {
  @include _c-list-unstyled();
}

/* li > ul, li > ol */
.c-list-unstyled__items {
  margin-left: 1em;
  text-indent: -1em;
  list-style-position: inside;
}
