 /* #Table
   -------------------------------------------------------------------------- */
/*
---
name: table
category: component
---

tableのレイアウトアルゴリズム（`table-layout`）の変更、
`<th>`と`<td>`のpaddingなどを変更します。

Modifierは以下のとおりです。

* セルの余白を変更 `--small`, `--large`

```jade
table.c-table.c-table--fixed
  tr
    th.u-percent50 th1
    th th2
    th th3
  tr
    td td1
    td td2
    td td3
```
*/
.c-table {
  width: 100%;
  th,
  td {
    padding: 1em;
  }
}

/**
 * セルを均等にします。`width`を1つだけ指定した場合は、残りのセルが均等になります。
 */
.c-table--fixed {
  table-layout: fixed;
}

.c-table--small {
  th,
  td {
    padding: 0.5em;
  }
}

.c-table--large {
  th,
  td {
    padding: 1.5em;
  }
}
