 /* #Content
   -------------------------------------------------------------------------- */
/*doc
---
title: content
name: content
categories: [layout]
---

`<article>`タグが使われるようなメインコンテンツのスタイルです。
ナビゲーションやバナーなどのレイアウトを含むことはできますが、
コンポーネント自体はobject/projectレイヤーで定義します。

```block
<body>
  <div class="l-content">
    <article class="l-content s-blog">
      <div class="l-content__item">
      </div>
    </article>
  </div>
</body>
```
*/
.l-content {

}

.l-content__item {
  padding: 0 1em;
}
