extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= "アバウトページ";
  - var pageDescription= "アバウトページの説明";
  - var pageKeywords= "about, page";
  //- Optional
  - var pageOgpTitle= pageTitle;
  - var pageOgpImage= site.ogpImage;
  - var pageLang= "ja";
  - var pageOgpType= "article";
  //- Not modified
  - var pageUrl= relativePath;

block content
