extend /assets/pug/_layout-index
append variables
  - var pageTitle= site.name;
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  - var pageOgpTitle= pageTitle;
  - var pageOgpType= "website"; // トップページは"website"、それ以外は"article"を指定する
  - var pageOgpImage= site.ogpImage; // 共通画像を使わない場合は変更する
  - var pageOgpDescription= pageDescription; // `pageDescription`と同じものを使う

block append css
  //- link(rel="stylesheet" href="css/style.css")
block append js
  //- script(src="js/single.js")

block content
