extend /_includes/_layout-index
append variables
  - var pageTitle= "";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  - var pageOgpTitle= pageTitle;
  - var pageOgpImage= site.ogpImage; // 共通画像を使わない場合は変更する

block content
