 /* #Align
   -------------------------------------------------------------------------- */
/*
---
name: align
category: utility
---

画像などを左右や中央に配置します。

```jade
img(src="http://lorempixel.com/150/150/")
img.u-align-center(src="http://lorempixel.com/150/150/")
img.u-align-right(src="http://lorempixel.com/150/150/")
```
*/
.u-align-left {
  display: block !important;
  margin-left: 0 !important;
  margin-right: auto !important;
}

.u-align-center {
  display: block !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.u-align-right {
  display: block !important;
  margin-left: auto !important;
  margin-right: 0 !important;
}
