 /* #Display
   -------------------------------------------------------------------------- */
/*
---
name: display
category: utility
---

表示非表示を切り替えます。改行位置のコントロールもできます。

```jade
p.u-dn-md
  code -md
  | 以降は非表示になります。
p.u-dn.u-db-md
  code -md
  | 以降は表示されます。
p
  | 基本はなりゆきでウィンドウサイズが狭くなると、
  span.u-dib ここから改行されます。
p
  code -md
  | 以降になると、
  span.u-db-md
  | ここから改行されます。
```
*/
@include _responsive(".u-dn") {
  display: none !important;
}

@include _responsive(".u-db") {
  display: block !important;
}

@include _responsive(".u-di") {
  display: inline !important;
}

@include _responsive(".u-dib") {
  display: inline-block !important;
}
