 /* #Box
   -------------------------------------------------------------------------- */
/*
---
name: box
category: project
---

画像やテキストなどを縦に並べるコンポーネントです。

ラベルはデフォルトで右上に配置されます。Modifierで以下のように変更できます。

- 右下 `.p-box__labels--right-bottom`
- 左上 `.p-box__labels--left-top`
- 左下 `.p-box__labels--left-bottom`

```jade
div.p-box
  .p-box__image
    img(src="http://lorempixel.com/600/400/" alt="")
    ul.p-box__labels
      li.p-box__label.p-label ラベル1
      li.p-box__label.p-label ラベル2
  .p-box__content
    h2 見出し
    p 親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。
```
*/
.p-box {
  @include _p-box();
}

.p-box__image {
  @include _p-box__image();
}

.p-box__labels {
  @include _p-box__labels();
}

.p-box__labels--right-bottom {
  top: auto;
  bottom: 0;
}

.p-box__labels--left-top {
  right: auto;
  left: 0;
}

.p-box__labels--left-bottom {
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
}

.p-box__label {
  @include _p-box__label();
}

.p-box__content {
  @include _p-box__content();
}
