 /* #Breadcrumb
   -------------------------------------------------------------------------- */
/*
---
name: breadcrumb
category: project
---

パンくずリストのコンポーネントです。横幅を超えると、折り返さず省略されます。

```jade
ul.p-breadcrumb
  li.p-breadcrumb__item
    a.p-breadcrumb__link(href="#") home
  li.p-breadcrumb__item
    a.p-breadcrumb__link(href="#") page1
  li.p-breadcrumb__item page2
```
*/
.p-breadcrumb {
  overflow: hidden;
  margin: 0;
  padding-left: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  list-style-type: none;
}

.p-breadcrumb__item {
  display: inline-block;
  &:last-child {
    display: inline;
  }
}

.p-breadcrumb__link {
  display: inline-block;
}

/* 2つ目以降のリストの前に`>`を表示する。 */
.p-breadcrumb__item:not(:first-of-type):before {
  content: "\003E";
  margin: 0 0.5em;
}
