 /* #Button
   -------------------------------------------------------------------------- */
/*
---
name: button
category: project
---

ボタンコンポーネントです。

Modifierは以下のとおりです。

* 100%表示 `--full`
* 真円 `--circle`
* 楕円 `--pill`, `--pill-right`, `--pill-center`, `--pill-left`

```jade
p
  button.p-button(type="button") p-button

p
  a.p-button.p-button--full(href="#") p-button p-button--full

ul.c-layout.c-layout--col3
  li.c-layout__item
    button.p-button.p-button--pill-left.p-button--full(type="button") p-button--pill-left
  li.c-layout__item
    button.p-button.p-button--pill-center.p-button--full(type="button") p-button--pill-center
  li.c-layout__item
    button.p-button.p-button--pill-right.p-button--full(type="button") p-button--pill-right
```
*/
$_button-pill-base: 0 !default;
$_button-pill-round: 3em !default;

.p-button {
  display: inline-block;
  margin: 0;
  padding: 0.75em;
  border: none;
  border-radius: $_radius;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  appearance: none;
  @include _on-event {
    text-decoration: none;
  }
  &:disabled,
  &.is-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.p-button--full {
  width: 100%;
}

.p-button--circle {
  border-radius: 50%;
}

/**
 * カプセル状の錠剤のような形をしたボタンコンポーネントです。
 */
.p-button--pill {
  border-radius: $_button-pill-round;
}

.p-button--pill-right {
  border-radius: $_button-pill-base $_button-pill-round $_button-pill-round $_button-pill-base;
}

.p-button--pill-center {
  border-radius: $_button-pill-base;
}

.p-button--pill-left {
  border-radius: $_button-pill-round $_button-pill-base $_button-pill-base $_button-pill-round;
}
