block variables
doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")
    include /assets/pug/_meta

  body
    block content

    include /assets/pug/_script
