block variables
- var pageOgpType = "article";
doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#")
    include /_includes/_meta

  body
    block content

    include /_includes/_script
