block variables
- var pageOgpType = "website";
doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")
    include /_includes/_meta

  body
    block content

    include /_includes/_script
